:root {
    --accent-link: #4d5ae5;
    --accent-white: #F4F4FD;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
body {
font-family: 'Roboto', sans-serif;
text-decoration: none;
background-color: #FFFFFF;
color: #434455;
}
.adress {
    font-style: normal
}
.logo-text {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-text-header {
    color: #2E2F42;
}
.logo-text-footer {
    color: var(--accent-white);
}
.nav-link {
    font-family: 'Raleway',sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
/* ===============Components============== */


/* =================/Components=========== */

/* =================Header================ */
.header-link {
    font-style: normal;
    font-weight: 500;        
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}
/* ====================/Header============= */
/* ===========Steps========== */
.steps-items {
    background-color: #FFFFFF;
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.main-section {
    background-color: #2e2f42;
}
.title-steps {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============/Steps====================== */

/* ===================Doing=============== */
.sections-doing {

}
.title-doing {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    
}
/* =================Team================== */
.section-team {
    background-color: var(--accent-white);
}
.item-team {
    background-color: #FFFFFF;
}
.title-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.caption-team {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.profesion {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ================ /Team ==============*/
.team {
    background-color: var(--accent-white);
}
/* ==========Footer============= */
.text-footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-white);
}
.main-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.main-btn {
    background-color: #4D5AE5;
}
.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/* ======================Footer========= */

/* =================PORTFOLIO============ */
.header {
    font-style: normal;
}
/* ===========Hero=========== */
.caption-text {
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.desk-list {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero-pages {
    text-decoration: none;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--accent-white);
    color: var(--accent-link);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
.heding-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.heading-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
     color: #434455;
}
/* =======Footer======= */
.footer {
    background-color: #2e2f42;
}