.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
body {
font-family: 'Roboto', sans-serif;
}
.logo-text {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #2E2F42;
}
.nav-link link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
/* ===============Components============== */


/* =================/Components=========== */

/* =================Header================ */
.header-link {
    font-weight: 500;        
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}
/* ====================/Header============= */
/* ===========Steps========== */
.title-steps {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============/Steps====================== */

/* ===================Doing=============== */
.title-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
/* =================Team================== */
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.caption-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.profesion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ================ /Team ==============*/

/* ==========Footer============= */
.text-footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.main-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.main-btn {
    background-color: #4D5AE5;
}
.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/* ======================Footer========= */

/* =================PORTFOLIO============ */

/* ===========Hero=========== */
.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.heding-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.heading-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
     color: #434455;
}
