:root {
    --accent-link: #4d5ae5;
    --accent-white: #F4F4FD;
    --accent-hero-btn: #e7e9fc;
    --accent-footer-soc: #FFFFFF;
    --accent-title-customers: #2e2f42;
    --accent-link-custumers: #8e8f99;
    --accent-act-btn-close-modal: #404BBF;
    
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}
/* У цієї блокової моделі властивості width і height встановлюють фінальні розміри елемента,
а не його області вмісту. Контент автоматично «стискається» таким чином,
щоб всередині контейнера ще помістилися padding і border. */

/* =============Reset style (margin and padding)============ */

body {
    margin: 0;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
} 

button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
    

/* ======================/ RESET  ============================ */


.link {
    text-decoration: none;
}


.list {
    list-style: none;
}


body {
font-family: 'Roboto', sans-serif;
text-decoration: none;
background-color: #FFFFFF;
color: #434455;
}


.adress {
    font-style: normal;
    margin-left: 332px;
    padding-top: 24px;
    padding-bottom: 24px;
}


.logo-text {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.logo-text-header {
    color: #2E2F42;
}


.logo-text-footer {
    color: var(--accent-white);
}


.header-logo {
    /* font-family: 'Raleway',sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5; */
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* ================== Psevdoelement============== */

.psevdo-studio::after {
    display: flex;
    align-items: center;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    content: '';
    margin-top: 20px;
}
.psevdo-portfolio::after {
    display: flex;
    align-items: center;
    width: 66px;
    height: 4px;
    background-color: #404BBF;
    content: '';
    margin-top: 20px;
}


/* ===============Components============== */


/* =================/Components=========== */

/* =================Header================ */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-link {
    font-style: normal;
    font-weight: 500;        
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-link:hover,
.header-link:focus {
    color: #404BBF;
}


.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.header-items {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.heder-item {
    width: calc((100% - 80px) / 3);
}

.list-contact {
    display: flex;
    gap: 40px;
}

/* ====================/Header============= */

/* ===========Steps========== */

.steps-items {
    background-color: #FFFFFF;
}


/* =========================Main====================== */

.main-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    /* height: 600px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    /* left: 0px;
    top: 72px; */
    margin: 0 auto;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 0;
}


.flex {
    display: flex;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.main-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block
    align-items: center;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.title-steps {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* ============Sections 1====================== */

.sections-steps {
    padding-bottom: 120px;
    padding-top: 120px;
    padding-right: 0;
    padding-left: 0;
}

.box-steps-doing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.steps-items {
    display: flex;
    gap: 24px;
}

.title-steps {
    margin-bottom: 8px;
}

.steps-item {
    width: calc((100% - 72px) / 4);
}

/*===================Hiden H2============ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ================= /Section 1============== */
/* =================== Section 2 - Doing=============== */

.sections-doing {
    padding-bottom: 120px;
}


.title-doing {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.title-doing {
    margin-bottom: 72px;
}

 .list-doing {
    display: flex;
    gap: 24px;
 }

 .item-doing {
    width: calc((100% - 48px) / 3);
    
 }

/* ================= sections Team  ================== */


.section-team {
    background-color: var(--accent-white);
    padding-top: 120px;
    padding-bottom: 120px;
}

.bloc-list-team {
    padding: 32px 0;
    /* padding-top: 32px;
    padding-bottom: 32px; */
}

.item-social-hub {
    width: 40px;
    height: 40px;
}

.link-social-hub {
    width: 100%;
    height: 100%;
    background-color: var(--accent-link);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-social-hub:hover,
.link-social-hub:focus {
    background-color: #404bbf;
}


.title-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;

}

.list-team {
    display: flex;
    gap: 24px;
}


.item-team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.items-social-hub {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.bloc-list-team {
    padding-top: 32px;
    padding-bottom: 32px;
}


.icon-soc-hub-team {
    fill: var(--accent-white);
}

.caption-team {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}


.profesion {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.team {
    background-color: var(--accent-white);
}

/* ================ /Team ==============*/

/* ==================  Sections icons  ============== */

.section-icons {
    padding: 120px 0 120px;
}

.title-customers {
    font-size: 36px;
    line-height: 1.1;
    color: var(--accent-title-customers);
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.link-customers {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-link-custumers);
}

.link-customers:hover,
.link-customers:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.list-customers {
    display: flex;
    gap: 24px;
}

.list-customers {
    height: 88px;
}

.item-customers {
    width: calc((100% - 120px) / 6);
}

.icons-customers {
    fill: currentColor;
}

/* ==========Footer============= */


.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    margin-right: 76px;
}


.text-footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-white);
    margin-bottom: 16px;
}


.footer-icon {
    display: flex;
    align-items: baseline;
}

.box-logo {
    margin-right: 120px;
}

.subtitle-soc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-footer-soc);
    margin-bottom: 16px;
}

.soc-hub-list {
    display: flex;
    gap: 16px;
}

.soc-hub-item {
    width: 40px;
    height: 40px;
}

.soc-hub-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-link);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-hub-link:hover,
.soc-hub-link:focus {
    background-color: #31d0aa;
}

.soc-hub-icons {
    fill: var(--accent-white);
}

/* ====================== /Footer ========= */

/* ======================  Modal window ========= */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    background-color: rgba(252, 252, 252, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid #000000;
    padding: 0;
    transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-act-btn-close-modal);
}

.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--accent-footer-soc);
}


/* ====================== / Modal window ========= */
/* ========================================================== */

/* =================   PORTFOLIO  ============ */


.header {
    font-style: normal;
}


/* ===========Hero=========== */


.main-hero-btn {
    padding-top: 96px;
    padding-bottom: 120px;
}

.caption-text {
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}


.desk-list {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.hero-pages {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


.hero-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--accent-white);
    color: var(--accent-link);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--accent-hero-btn);
    border-radius: 4px;
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-links {
    display: block;
}

.hero-links:hover,
.hero-links:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* =============== Overlay ========== */

.overlay {
    background: #4D5AE5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-top: 40px;
    padding-bottom: 164px;
    padding-right: 32px;
    padding-left: 32px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* overflow-y: scroll; */
    /* скрол по осі y для контенту якщо він буде більший за розміри батьк ел (дів) */
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func); 
}

.lists-apps-wrapper {
    position: relative;
    overflow: hidden;
    /* приховає текс який вийде за дів */

}


.lists-apps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.lists-apps-item {
    width: calc((100% - 48px) / 3);
}

.hero-links:hover .overlay,
.hero-links:focus .overlay
 {
    transform: translate(0, 0);

}

.bloc-list-apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.caption-text {
    margin-bottom: 8px;
}

.heding-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.heading-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
     color: #434455;
}


/* =======Footer======= */

.footer .logo {
    margin-bottom: 16px;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-modificate {
    display: inline-block;
    /* margin-bottom: 16px; */
}

.text-footer-link {
    max-width: 264px;
}