:root {
    --accent-link: #4d5ae5;
    --accent-white: #F4F4FD;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}
/* У цієї блокової моделі властивості width і height встановлюють фінальні розміри елемента,
а не його області вмісту. Контент автоматично «стискається» таким чином,
щоб всередині контейнера ще помістилися padding і border. */

/* =============Reset style (margin and padding)============ */

body {
    margin: 0;
}


h1, h2, h3, h4, h5, h6, p, {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
} 


img {
    display: block;
    max-width: 100%;
    height: auto;
}
    


/* ======================/ RESET  ============================ */


.link {
    text-decoration: none;
}


.list {
    list-style: none;
}


body {
font-family: 'Roboto', sans-serif;
text-decoration: none;
background-color: #FFFFFF;
color: #434455;
}


.adress {
    font-style: normal
}


.logo-text {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.logo-text-header {
    color: #2E2F42;
}


.logo-text-footer {
    color: var(--accent-white);
}


.nav-link {
    font-family: 'Raleway',sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

/* ===============Components============== */


/* =================/Components=========== */

/* =================Header================ */

.header-link {
    font-style: normal;
    font-weight: 500;        
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.header-link:hover,
.header-link:focus {
    color: #404BBF;
}


.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}


/* ====================/Header============= */

/* ===========Steps========== */

.steps-items {
    background-color: #FFFFFF;
}


/* =========================Main====================== */

.main-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.main-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex; */
    display: block
    align-items: center;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.title-steps {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* ============Sections 1====================== */

.sections-steps {
    padding-bottom: 120px;
    padding-top: 120px;
    padding-right: 0;
    padding-left: 0;
}

.steps-items {
    display: flex;
    gap: 24px;
}

.title-steps {
    margin-bottom: 8px;
}

.steps-item {
    width: calc((100% - 72px) / 4);
}

/*===================Hiden H2============ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ================= /Section 1============== */
/* =================== Section 2 - Doing=============== */

.sections-doing {
    margin-bottom: 120px;
}


.title-doing {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.title-doing {
    padding-bottom: 72px;
}

 .list-doing {
    display: flex;
    gap: 24px;
 }

 .item-doing {
    width: calc((100% - 48px) / 3);
    
 }

/* ================= sections Team================== */


.section-team {
    background-color: var(--accent-white);
    padding-top: 120px;
    padding-bottom: 120px;
}



.title-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;

}

.list-team {
    display: flex;
    gap: 24px;
}


.item-team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.bloc-list-team {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.caption-team {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}


.profesion {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}


/* ================ /Team ==============*/


.team {
    background-color: var(--accent-white);
}


/* ==========Footer============= */


.text-footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-white);
}


/* ======================Footer========= */


/* =================PORTFOLIO============ */


.header {
    font-style: normal;
}


/* ===========Hero=========== */


.caption-text {
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}


.desk-list {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.hero-pages {
    text-decoration: none;
}


.hero-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--accent-white);
    color: var(--accent-link);
    cursor: pointer;
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}


.heding-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.heading-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
     color: #434455;
}


/* =======Footer======= */


.footer {
    background-color: #2e2f42;
}